<div class="containet-fluid">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div>
            <a class="navbar-brand" href="#">
              <img
                src="./assets/imgs/SmartaTech1.png"
                alt="Logo"
                width="238"
                height="50"
                class="d-inline-block align-text-top"
              />
            </a>
            <p class="mb-30 footer-desc">
              SmartaTech is at the forefront of advanced technological design.
            </p>
            <p>
              Our highly skilled team collaborate to Conceptualize, Develop and
              Design the advanced technological solutions to meet our customer’s
              specific requirements and beyond!
            </p>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
          <div class="">
            <h4>SmartaTech</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-decoration-none">Home</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">About Us</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Contact Us</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Careers</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Job Application</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
              <li>
                <p class="text-decoration-none">info@smartatech.in</p>
              </li>
              <li>
                <p class="text-decoration-none">080 26697740</p>
              </li>
              <li>
                <p class="text-decoration-none">+919008449293</p>
              </li>
              <li>
                <p class="text-decoration-none"
                  >#7, 8th main, Lakshmanappa garden, BSK 3rd stage Bengaluru
                  560085</p
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Subscribe</h4>
            <div>
              <label for="Newsletter" class="form-label"
                >Subscribe To Our Newsletter</label
              >
              <input
                type="text"
                class="form-control"
                Placeholder="Enter Your Email"
              />
              <button class="btn btn-orange mt-3">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="copyright">
          <p>
            Copyright 2022 &copy; All rights Reserved.
            <a href="https://smartatech.in/" target="_blank">SmartaTech Solutions</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
